<div class="row text-center">
  <button ng-click="tic()" ng-disabled="overstaged" class="btn btn-success">TIC {{state.day}}</button>
</div>
<hr/>

<div class="row">
  <div class="col-md-2">Activists:</div>
  <div ng-class="overstagedEffort ? 'text-danger' : 'text-default'" class="col-md-1">{{state.activists - stagedEffort|number}}</div>
  <div class="col-md-2">Money:</div>
  <div ng-class="overstagedCost ? 'text-danger' : 'text-default'" class="col-md-1">{{state.money - stagedCost|number}}</div>
  <div class="col-md-2">Stgd Effort:</div>
  <div class="col-md-1">{{stagedEffort|number}}</div>
  <div class="col-md-2">Stgd Money:</div>
  <div class="col-md-1">{{stagedCost|number}}</div>
</div>

<hr />

<div class="row">
  <div class="col-md-2">Recruitable:</div>
  <div class="col-md-1">{{state.recruitable|number}}</div>
  <div class="col-md-2">Org. workers:</div>
  <div class="col-md-1">{{state.union|number}}</div>
  <div class="col-md-2">Repression:</div>
  <div class="col-md-1">{{state.repression|number}}</div>
  <div class="col-md-2">Climate:</div>
  <div class="col-md-1">{{state.climate|number}}</div>
</div>

<hr />

<div class="row">
  <div class="col-md-2">FA Morale:</div>
  <div class="col-md-1">{{state.fascists.morale|number}}</div>
  <div class="col-md-2">FA Conflict:</div>
  <div class="col-md-1">{{state.fascists.conflict|number}}</div>
  <div class="col-md-2">FA Power:</div>
  <div class="col-md-1">{{state.fascists.power|number}}</div>
  <div class="col-md-2">CAP Power:</div>
  <div class="col-md-1">{{state.capitalists.power|number}}</div>
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Action</th>
          <th style="width:10%">Activists</th>
          <th style="width:10%">Moneyz</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="action in unstagedActions">
          <td><a href="#/action/{{action.id}}">{{action.name}}</a></td>
          <td class="text-right" style="width:10%">{{action.effort|number}}</td>
          <td class="text-right" style="width:10%">{{action.cost|number}}</td>
          <td class="text-right" style="width:10%">
            <a href ng-click="stageAction(action)">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <thead><tr>
          <th>Staged Action</th>
          <th style="width:10%">Activists</th>
          <th style="width:10%">Moneyz</th>
          <th style="width:10%"></th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="action in stagedActions">
          <td><a href="#/action/{{action.id}}">{{action.name}}</a></td>
          <td class="text-right" style="width:10%">{{action.effort}}</td>
          <td class="text-right" style="width:10%">{{action.cost}}</td>
          <td class="text-right" style="width:10%">
            <a href ng-click="unstageAction(action)">
              <i class="glyphicon glyphicon-minus"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot class="small" ng-show="stagedActions.length > 0"><tr>
          <th>Sum</th>
          <th class="text-right" style="width:10%">{{stagedEffort|number}}</th>
          <th class="text-right" style="width:10%">{{stagedCost|number}}</th>
          <th style="width:10%"></th>
      </tr></tfoot>
    </table>
  </div>
</div>

<hr />
<h4>Digest</h4>
<ul>
  <li ng-repeat="msg in digest">{{msg}}</li>
</ul>
